<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Маршрутка №132</title>
</head>
<body>
    <center>
        <h1>Маршрутка №132</h1>
        <br>
        <br>
        <h2>Стоимость 10сом</h2>
        <br>
        <a href="https://2gis.kg/bishkek/search/%D0%BC%D0%B0%D1%80%D1%88%D1%80%D1%83%D1%82%D0%BA%D0%B0%20%E2%84%96132/route/15763204286185525">
            <h5>Карта маршрута</h5>
        </a>
        <br>
        <br>
        <a href="">
            <h3>Перейти на главную страницу</h3>
        </a>
        
    </center>
</body>
</html>