<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Маршрутки</title>
</head>
<body>
    <center>
        <h1>Маршрутки</h1>
        <br>
        <br>
        <br>
        <a href="{% url 'marshrutka_1' %}">
            <h3>Маршрутка №132</h3>
        </a>
        
        <br>
        <br>
        <a href="{% url 'marshrutka_2' %}">
            <h3>Маршрутка №110</h3>
        </a>
        
        <br>
        <br>
        <a href="{% url 'marshrutka_3' %}">
            <h3>Маршрутка №152</h3>
        </a>
        
    </center>
</body>
</html>