<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автобус №42</title>
</head>
<body>
    <center>
        <h1>Автобус №42</h1>
        <br>
        <br>
        <h2>Стоимость 8сом</h2>
        <br>
        <br>
        <a href="https://2gis.kg/bishkek/search/%D0%B0%D0%B2%D1%82%D0%BE%D0%B1%D1%83%D1%81%20%E2%84%9642/route/15763204286185489">
            <h2>Карта маршрута</h2>
        </a>
        <br>
        <br>
        <a href="">
            <h2>Перейти на главнуюстраницу</h2>
        </a> 
        
    </center>
</body>
</html>