<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автобусы</title>
</head>
<body>
    <center>
        <h1>Автобусы</h1>
        <br>
        <br>
        <br>
        <a href="{% url 'avtobus_1' %}">
            <h3>Автобус №35</h3>
        </a>
        
        <br>
        <br>
        <a href="{% url 'avtobus_2' %}">
            <h3>Автобус №42</h3>
        </a>
        
        <br>
        <br>
        <a href="{% url 'avtobus_3' %}">
            <h3>Автобус №6</h3>
        </a>
       

    </center>
</body>
</html>