<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О такси</title>
</head>
<body>
    <center>
        <h1>О такси</h1>
        <br>
        <h3>Такси очень удобный транспорт</h3>
        <br>Посадка от 50 сом и выше
        <br>
        <a href="{% url 'taxi_2' %}">
            <p>Перейти на страницу второго такси!</p>
        </a>
        <br>
        <br>
        <a href="{% url 'taxi_3' %}">
            <p>Перейти на страницу третьего такси!</p>
        </a>
        <br>
        <a href="{% url 'taxi_1' %}">
            <p>Перейти на страницу первого такси!</p>
        </a>
        <br>
    </center>
    
</body>
</html>